@font-face {
  font-family: 'zabars';
  src: url('./assets/fonts/zabars.ttf') format('truetype');
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: black;
  background-image: linear-gradient(180deg, transparent, hsl(193, 93%, 39%) calc(50% - 240px), hsl(25, 89%, 32%) calc(50% + 240px), transparent);
  background-repeat: no-repeat;
  font-family: 'zabars', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.d-none {
  display: none;
}

.pointer {
  cursor: pointer;
}

.game__main-container {
  position: relative;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

h1 {
  display: inline-block;
  position: absolute;
  top: calc(50% - 50% - 2em);
  color: white;
  margin: 0;
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.4);
  letter-spacing: 0.25em;
  font-size: 3em;
  letter-spacing: 0.2em;
  transition: all 0.5s ease-in-out;
}

.wrapper__bottom-line {
  position: absolute;
  top: calc(50% + 50% - 2em);
  overflow: hidden;
  padding: 3px 3px;
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.4);
  border: 1px solid black;
  border-radius: 7px;
  backdrop-filter: blur(4px);
  width: 1.2em;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  user-select: none;
  z-index: 1;
}

h4 {
  margin: 0;
  white-space: nowrap;
  text-align: center;
  text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 0.7rem;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.showHelp {
  transition: all 0.5s ease-in-out;
  width: calc(100% - 2em) !important;
  padding-left: 8px;
  padding-right: 8px;
}

.canvas-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.4);
  max-width: 720px;
  max-height: 480px;
}

.canvas-wrapper {
  display: flex;
}

canvas {
  display: block;
  flex: 1 1 auto;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  border: 2px solid black;
  overflow: hidden;
}

.collected {
  color: white;
  position: absolute;
  font-size: 1rem;
  left: 29%;
}

#coinsCollected {
  top: 10.6%;
}

#bottlesCollected {
  top: 17.5%;
}

.button-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.button {
  position: absolute;
  width: 3rem;
  height: 3rem;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  user-select: none;
}

.btn-start {
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  background-image: url('./assets/img/buttons/play-button.png');
}

.btn-right {
  bottom: 5%;
  right: 5%;
  background-image: url('./assets/img/buttons/play-button.png');
}

.btn-left {
  bottom: 5%;
  left: 5%;
  background-image: url('./assets/img/buttons/left-button.png');
}

.btn-jump {
  bottom: 5%;
  left: 15%;
  background-image: url('./assets/img/buttons/jump-button.png');
}

.btn-throw {
  bottom: 5%;
  right: 15%;
  background-image: url('./assets/img/buttons/bottle-button.png');
}

.btn-pause {
  top: 2%;
  left: 50%;
  transform: translateX(calc(-50% - 2rem));
  background-image: url('./assets/img/buttons/pause-button.png');
}

.btn-fullscreen {
  top: 2%;
  left: 50%;
  transform: translateX(calc(-50% + 2rem));
  background-image: url('./assets/img/buttons/fullscreen-button.png');
}



@media (width < 720px) {
  h1 {
    font-size: 2em;
    top: calc(50% - 50% - 1.5em);
  }

  h4 {
    font-size: 0.5em;
    font-weight: normal;
  }

  .wrapper__bottom-line {
    padding: 2px;
    width: 0.9em;
    top: calc(50% + 50% - 1.5em);
  }
}

@media (width < 610px) {
  .canvas-container {
    width: 100%;
  }

  #coinsCollected,
  #bottlesCollected {
    font-size: 0.8rem;
  }
}

@media (width < 410px) {

  #coinsCollected,
  #bottlesCollected {
    font-size: 0.6rem;
  }

  .button {
    width: 2em;
    height: 2em;
  }

  .btn-pause {
    transform: translateX(calc(-50% - 1rem));
  }

  .btn-fullscreen {
    transform: translateX(calc(-50% + 1rem));
  }
}

@media (height < 480px) {
  canvas {
    height: 100vh;
    width: 100%;
  }

  body {
    background-image: unset;
  }

  .canvas-container,
  .canvas-wrapper {
    width: 100%;
    max-width: none;
  }

  .wrapper__bottom-line {
    display: none;
  }
}

/* @media (height > 480px) and (width > 1200px) {

  .btn-jump,
  .btn-throw,
  .btn-left,
  .btn-right {
    display: none !important;
  }
} */